body {
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
	height: 100vh;
	background: url(dehu11.github.io/IMG_6024.JPG);
}

h1.center {
  text-align: center;
  padding-top: 40vh;
}

section {
	height: 100vh;
}

section.about {
	background: #B4D383;
}

section.experience {
	background: white;
}

div#projects {
	background: #B4D383;
}

section.contact {
	background: white;
}

.w-form {
	margin:0 0 15px
}

.w-form-done {
	display:none;
	padding:10px;
	background-color:#dbffd1
}

.w-form-done-show {
	display:block
}

.w-form-fail {
	display:none;
	margin-top:10px;
	padding:10px;
	background-color:#ffdede
}

.w-form-fail-show {
	display:block
}

.w-input,.w-select {
	display:block;
	width:100%;
	height:38px;
	padding:8px 12px;
	margin-bottom:10px;
	font-size:14px;
	line-height:1.428571429;
	color:#555;
	vertical-align:middle;
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)
}

.w-input:-moz-placeholder,.w-select:-moz-placeholder {
	color:#999
}

.w-input::-moz-placeholder,.w-select::-moz-placeholder {
	color:#999;
	opacity:1
}

.w-input:-ms-input-placeholder,.w-select:-ms-input-placeholder {
	color:#999
}

.w-input::-webkit-input-placeholder,.w-select::-webkit-input-placeholder {
	color:#999
}

.w-input:focus,.w-select:focus {
	border-color:rgba(82,168,236,0.8);
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}

.w-input[disabled],.w-select[disabled],.w-input[readonly],.w-select[readonly],fieldset[disabled]
.w-input,fieldset[disabled]
.w-select {
	cursor:not-allowed;
	background-color:#eee
}

textarea.w-input,textarea.w-select {
	height:auto
}

.w-select[multiple] {
	height:auto
}

.w-button {
	display:inline-block;
	padding:12px;
	background-color:#000;
	color:#fff;
	border:0;
	line-height:inherit
}
