div#home {
	height: 100vh;
	background: white;
}

h1.center {
  text-align: center; 
  padding-top: 50vh;
}
 
div#about {
	height: 100vh;
	background: #B4D383;
}

div#experience {
	height: 100vh;
	background: white;
}

div#projects {
	height: 100vh;
	background: #B4D383;
}

div#contact {
	height: 100vh;
	background: white;
}